/* ======================================= */
/* 1. DEFINIZIONE VARIABILI GLOBALI        */
/* ======================================= */
:root {
    /* Colors */
    --c-1: #415a77;
    --c-2: #2c3e50;
    --c-3: #40597a;
    --c-4: #c8d5e6;
    --c-white: #ffffff;
    --c-danger: #a40f00;
    --c-text-light: #ffffff;
    
    /* Text */
    --t-1: 16px;
    --t-2: 12px;
    --ft: Calibri, Arial, sans-serif;
    
    /* Shadow */
    --s-1: 0 2px 10px rgba(0,0,0,0.1);
    --s-2: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Rischio (0% a 100%) */
    --risk-level: 70%; 

    --app-padding: 10px;
    --app-height: 100vh;
}

/* ======================================= */
/* 2. RESET E LAYOUT BASE                  */
/* ======================================= */
*,
 *::before,
 *::after {
    box-sizing: border-box;
}
 
body {
    font-family: var(--ft);
    font-size: var(--t-1);
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden; 
    display: flex;
    flex-direction: column; 
}

ad-navbar{
    position: fixed;
    inset: 0 0 auto 0;  /* top:0 left:0 right:0 */
    height: 44px;
    z-index: 10000;
}

.app-container{
  position: fixed;
  inset: 44px 0 0 0;     /* sotto la navbar alta 44px */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-container > ad-dashboard{
  flex: 1 1 auto;
  min-height: 0;
  display: block;
}
/* ======================================= */
/* 3. GRID         */
/* ======================================= */

.row {
    display: grid;
    gap: 20px;
    margin-bottom: 0;
}

/* ======================================= */
/* 4. CARD        */
/* ======================================= */

.card {
    border-radius: 12px;
    padding: 20px;
    box-shadow: var(--s-2);
}

.card h3 {
    margin: 0;
    color: var(--c-1);
}